html, body, #main-container { height: 100%; }
body > #main-container { height: auto; min-height: 100%; }

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    color: #bbb;
    padding: 25px;
    text-align: center;
	margin: 5px 0;
}

#content { padding-bottom: 4em; }

#content ul { list-style-type: none; margin: 0; padding: 0; }

#template-content {
	width: 100%;
}

#template-body {
	min-height: 100px;
	border: dashed 1px #ddd;
	padding: 0px;
	margin: 0 15px;
}

#Objects {
	width: 100%;
	border: dashed 1px #ddd;
}
#template-body > li{width:100%;border: 1px dashed #dedede;height:100px;text-indent: -99999px}
#template-body li.ui-draggable.ui-draggable-handle{text-indent: -999999px}
#Objects li, #template-body li.ui-draggable.ui-draggable-handle { margin: 2px 0; padding: 2px; width: 100%; cursor: pointer}

.layout_row{
	border:1px solid #ccc;
	background: #ffffff;
	min-height:100px;
	overflow: auto;
	margin:auto;
}

.aColumn{
	border: solid 1px #ddd;
	min-height: 100px;
	padding: 0;
}

.column_handler{
	position: absolute;
	background: #333;
	z-index: 100;
	margin-top: 0px;
	margin-left: -10px;
	padding: 0 3px;
	font-weight: bold;
	font-size: 12px;
	display:none;
}

.glyphicon-th{
	cursor: move;
	color: #999;
}

.glyphicon-cog, .glyphicon-remove, .glyphicon-plus, .glyphicon-minus{
	cursor: pointer;
	color: #bbb;
}

.layout_row .row{
	margin: 0;
}

.object_handler {
	display: none;
	position: absolute;
	margin-top: -18px;
	padding:0 5px;
	background: #333;
	z-index: 100;
}

.edit-me form{
	background-color:transparent !important;
}
.edit-me form button{
	font-size: 12px !important;
	color:#000 !important;
	background-color:#fff !important;
}

.layout-hover{
	border: dashed 1px #00F;
}

.object-hover{
	border: solid 1px #F00 !important;
}