<div id="{{ widget.getName }}-{{ widget.getHash }}" class="widget">
    {{ include('SkipsoBuilderBundle:Base:widgetButtons.html.twig', {widget: widget}) }}
    <p>{{ widget.getContent | raw }}</p>
    {{ include('SkipsoBuilderBundle:Base:_styles.html.twig', {widget: widget}) }}
</div>