<html>
<head>
    <title>Preview</title>
    <script type="text/javascript"
            src="{{ asset('bundles/skipsobuilder/js/modernizr.custom.js') }}"></script>
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/libs/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link type="text/css"
          href="{{ asset('bundles/skipsobuilder/libs/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}"
          rel="stylesheet">
    <script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/skipsobuilder/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container" id="content">
    {{ preview | raw }}
</div>
</body>
</html>