<style>
    #{{ widget.getName }}-{{ widget.getHash }}{
        margin: {{ widget.getMarginStyle }};
        padding: {{ widget.getPaddingStyle }};
        {{ widget.getBorderStyle }};
        color: {{ widget.getColor }};
        background-color: {{ widget.getBackgroundColor }};
    }
</style>