<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Template Builder</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!-- [if lt IE 9] -->
    {#<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>#}
    <!-- [endif] -->

    <!-- Styles -->
    <script type="text/javascript"
            src="{{ asset('bundles/skipsobuilder/js/modernizr.custom.js') }}"></script>
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/libs/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link type="text/css"
          href="{{ asset('bundles/skipsobuilder/libs/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}"
          rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/libs/bootstrap-wysihtml5/lib/css/wysiwyg-color.css') }}"
          rel="stylesheet">
    <link type="text/css"
          href="{{ asset('bundles/skipsobuilder/libs/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css') }}"
          rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/libs/select2/select2-bootstrap.css') }}"
          rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/libs/fancybox/source/jquery.fancybox.css') }}"
          rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/css/slider.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/css/basic.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/css/dropzone.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/skipsobuilder/css/style.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/skipsobuilder/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/dropzone.js') }}"></script>
    <script>Dropzone.autoDiscover = false;</script>
</head>

<body>
<div id="main-container">
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Template builder</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Files</a></li>
                            <li><a href="{{ path('builder_save') }}" id="save_page">Save</a></li>
                            <li><a href="{{ path('builder_preview') }}" target="_blank">Preview</a></li>
                        </ul>
                        <div class="pull-right" style="color:#fff"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Test -->
    <div class="container" id="content">
        <div class="row">
            <div class="container" style="position:fixed">
                <div class="col-sm-3" style="padding-right: 30px;padding-left: 0;">
                    <div id="Objects">
                        <h2 class="alert alert-success"><a href="#">Templates</a></h2>

                        <div>
                            <input style="display:none" type="file" id="templateFiles" name="templateFiles[]" multiple/>

                            <div id="drop_zone">Click and choose <br/>OR</br>Drop template files here</div>
                        </div>
                        <h2 class="alert alert-success"><a href="#">Layout</a></h2>

                        <div>
                            <ul class="rows">
                                <li class="btn btn-default layout" id="rowone">1 column</li>
                                <li class="btn btn-default layout" id="rowtwo">2 column</li>
                                <li class="btn btn-default layout" id="rowthree">3 column</li>
                                {#<li class="btn btn-default layout" id="4column">4 column</li>#}
                            </ul>
                        </div>
                        <h2 class="alert alert-success"><a href="#">Text & Images</a></h2>

                        <div>
                            <ul class="widgets">
                                <li class="btn btn-default" id="carousel">Carousel</li>
                                {#<li class="btn btn-default" id="image">Image</li>#}
                                <li class="btn btn-default" id="paragraph">Paragraph</li>
                                {#<li class="btn btn-default" id="quote">Quote</li>#}
                                {#<li class="btn btn-default" id="list">List</li>#}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-9 pull-right" id="template-body">
                {{ preview | raw }}
            </div>
        </div>
    </div>
</div>

<!-- FOOTER
================================================== -->
<!-- -->
<div class="container" id="footer">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>
<!-- /.container -->

<!-- MODAL
================================================== -->
<!-- -->
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/jeditable/jquery.jeditable.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/skipsobuilder/libs/jeditable/jquery.jeditable.autogrow.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/autogrowtextarea.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/bootstrap-slider.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/skipsobuilder/libs/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/skipsobuilder/libs/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/libs/select2/select2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/skipsobuilder/libs/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/skipsobuilder/libs/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/global.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/image.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/skipsobuilder/js/navigation.js') }}"></script>
<script>
    var createWidget = '{{ path('builder_create_widget') }}', saveSetting = '{{ path('builder_setting_widget') }}', updateWidgetOrder = '{{ path('builder_updatewidget_order') }}', updateRowOrder = '{{ path('builder_updaterow_order') }}', removeMediafile = '{{ path('builder_carousel_removemedia') }}';
    function ProcessFileSelected(files) {
        for (var i = 0, f; f = files[i]; i++) {
            if (!f.type.match('text.*')) {
                continue;
            }
            var reader = new FileReader();
            reader.onloadend = function (evt) {
                if (evt.target.readyState == FileReader.DONE) { // DONE == 2
                    objCount++;
                    //
                    $('#template-body').append('<div id="row-' + objCount + '">' + column_tools('row-' + objCount) + '<div class="layout_row aColumn">' + evt.target.result + '</div></div>');
                    //
                    CallBackLayout('row-' + objCount);
                }
            };

            var blob = f.slice(0, f.size);
            reader.readAsText(blob);
        }
    }

    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        ProcessFileSelected(files);
    }

    function handleFileDrop(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        var files = evt.dataTransfer.files; // FileList object.
        ProcessFileSelected(files);
    }
    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    }
    Dropzone.options.myAwesomeDropzone = {
        init: function() {
            this.on("complete", function(data) { console.log(data) });
        }
    };

    $(document).ready(function () {
        $('#template-body').delegate('a.tab', 'click', function (e) {
            e.preventDefault();
            $(this).tab('show')
        })
        Dropzone.options.myAwesomeDropzone = {
            paramName: "mediafile[photoFile]", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            accept: function (file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                }
                else {
                    done();
                }
            }
        };
        $('#template-body .line, #template-body .widget').mouseover(function () {
            $(this).find('.settings').show();
            $(this).addClass('layout-hover');
        }).mouseout(function () {
            $(this).find('.settings').hide();
            $(this).removeClass('layout-hover');
        });
        //
        document.getElementById('templateFiles').addEventListener('change', handleFileSelect, false);
        var dropZone = document.getElementById('drop_zone');
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('drop', handleFileDrop, false);
        dropZone.addEventListener('click', function () {
            $('#templateFiles').click();
        }, false);

        $('#save_page').on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                dataType: 'json',
                type: 'POST',
                success: function(data){
                    alert('saved!');
                },
                error: function(xhr){
                    alert(JSON.parse(xhr.content)['error']);
                }
            })
        })

        $('#template-body').delegate('form', 'submit', function (e) {
            e.preventDefault();
            $form = $(this);
            $.ajax({
                url: $form.attr('action'),
                dataType: 'json',
                method: 'POST',
                data: $form.serialize(),
                success: function (data) {
                    $('#'+data.id).addClass('hide').after(data.preview)
                    $form.parents('.modal').modal('hide');
                    setTimeout(function(){$('#'+data.id+'.hide').remove()}, 500);
                    CallBackLayout(data.id);
                },
                error: function (xhr) {
                    alert(JSON.parse(xhr.content));
                }
            })
        })

    });

</script>
</body>
</html>
