<div class="object_handler settings" style="display: none;">
    <span class="glyphicon glyphicon-th"></span>
    <span onclick="object_setting('{{ widget.getHash }}')" class="glyphicon glyphicon-cog"></span>
    <span onclick="if(confirm('are you sure ?')){removeWidget('{{ path('builder_remove_widget', {hash: widget.getHash}) }}')}" class="glyphicon glyphicon-remove"></span>
</div>
<div id="form-{{ widget.getHash }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="cursor:move;">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Widget settings</h4>
            </div>
            <div class="modal-body form-group form-group-sm">
                {{ render(controller("SkipsoBuilderBundle:Default:renderSettingWidget", {hash: widget.getHash})) }}
            </div>
        </div>
    </div>
</div>