<div id="widget-{{ widget.getHash }}"
     style="position: relative;max-width: 100%">
    <div id="blueprint-{{ widget.getHash ~ time }}" class="cbp-fwslider">
        <ul>
            {% if widget.getMedias | length > 0 %}
                {% for media in widget.getMedias %}
                    <li>
                        <a href="#"><img u="image" src="{{ asset(media.getWebPath()) }}"/></a>
                    </li>
                {% endfor %}
            {% else %}
                <li><a href="#"><img src="{{ asset('bundles/skipsobuilder/widgets/carousel/fade/02.jpg') }}"
                                     alt="img01"/></a></li>
                <li><a href="#"><img src="{{ asset('bundles/skipsobuilder/widgets/carousel/fade/03.jpg') }}"
                                     alt="img01"/></a></li>
            {% endif %}
        </ul>
    </div>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/skipsobuilder/widgets/carousel/blueprint/css/component.css') }}"/>
    <script src="{{ asset('bundles/skipsobuilder/widgets/carousel/blueprint/js/jquery.cbpFWSlider.min.js') }}"></script>
    <script>
        $('#blueprint-{{ widget.getHash ~ time }}').cbpFWSlider();
    </script>
</div>