<div id="widget-{{ widget.getHash }}"
     style="max-width: 100%">

    <div id="slider{{ widget.getHash ~ time }}" class="sl-slider-wrapper">

        <div class="sl-slider">
            {% set nav = 0 %}
            {% if widget.getMedias | length > 0 %}
                {% for media in widget.getMedias %}
                    {% set nav = nav + 1 %}
                    <div class="sl-slide bg-1" data-orientation="{{ random(['horizontal', 'vertical']) }}"
                         data-slice1-rotation="{{ random(['-5', '-10', '-25', '15', '20', '25']) }}"
                         data-slice2-rotation="{{ random(['-5', '-10', '-25', '15', '20', '25']) }}"
                         data-slice1-scale="{{ random(['1.5', '1.8', '2', '1']) }}"
                         data-slice2-scale="{{ random(['1.5', '1.8', '2', '1']) }}">
                        <div class="sl-slide-inner" style="background: url({{ asset(media.getWebPath()) }}) no-repeat center">

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <img u="image" src=""/>
                <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10"
                     data-slice2-rotation="-15"
                     data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner"
                         style="background: url({{ asset('bundles/skipsobuilder/widgets/carousel/fade/02.jpg') }}) no-repeat center">
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- /sl-slider -->

        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            {% if nav > 0 %}
                {% for navdot in range(1, nav) %}
                    {% if navdot == 1 %}
                        <span class="nav-dot-current"></span>
                    {% else %}
                        <span></span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span></span>
            {% endif %}
        </nav>
    </div>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/skipsobuilder/widgets/carousel/slit/css/custom.css') }}"/>
    <script src="{{ asset('bundles/skipsobuilder/widgets/carousel/slit/js/jquery.ba-cond.min.js') }}"></script>
    <script src="{{ asset('bundles/skipsobuilder/widgets/carousel/slit/js/jquery.slitslider.js') }}"></script>
    <script>
        var Page{{ widget.getHash ~ time }} = (function () {

            var $navArrows = $('#widget-{{ widget.getHash }} #nav-arrows'),
                    $nav = $('#widget-{{ widget.getHash }} #nav-dots > span'),
                    slitslider = $('#widget-{{ widget.getHash }} #slider{{ widget.getHash ~ time }}').slitslider({
                        onBeforeChange: function (slide, pos) {

                            $nav.removeClass('nav-dot-current');
                            $nav.eq(pos).addClass('nav-dot-current');

                        }
                    }),

                    init = function () {

                        initEvents();

                    },
                    initEvents = function () {
                        console.log('init slit slider')
                        // add navigation events
                        $navArrows.children(':last').on('click', function () {

                            slitslider.next();
                            return false;

                        });

                        $navArrows.children(':first').on('click', function () {

                            slitslider.previous();
                            return false;

                        });

                        $nav.each(function (i) {

                            $(this).on('click', function (event) {

                                var $dot = $(this);

                                if (!slitslider.isActive()) {

                                    $nav.removeClass('nav-dot-current');
                                    $dot.addClass('nav-dot-current');

                                }

                                slitslider.jump(i + 1);
                                return false;

                            });

                        });

                    };

            return {init: init};

        })();

        Page{{ widget.getHash ~ time }}.init();
    </script>
</div>