<div id="{{ widget.getName }}-{{ widget.getHash }}" class="line" rel="{{ widget.getId }}">
    <div class="column_handler settings" style="display: none;">
        <span class="glyphicon glyphicon-th"></span><br>
        <span onclick="object_setting('{{ widget.getHash }}')" class="glyphicon glyphicon-cog"></span><br>
        <span onclick="if(confirm('are you sure ?')){removeWidget('{{ path('builder_remove_widget', {hash: widget.getHash}) }}')}" class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="form-{{ widget.getHash }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="cursor:move;">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Widget settings</h4>
                </div>
                <div class="modal-body form-group form-group-sm">
                    {{ render(controller("SkipsoBuilderBundle:Default:renderSettingWidget", {hash: widget.getHash})) }}
                </div>
            </div>
        </div>
    </div>
    <div class="layout_row">
        {% set width = 100/widget.getCol %}
        {% for column in range(0, widget.getCol - 1) %}
            {% set hashes = widget.getItemHashesAtColumn(column) %}
        <div style="float:left;width:{{ width }}%" class="aColumn ui-sortable ui-droppable">
            {% for hash in hashes %}
                {{ render_esi(controller("SkipsoBuilderBundle:Default:renderWidget", {widgetHash: hash, view: 'preview'})) }}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {{ include('SkipsoBuilderBundle:Base:_styles.html.twig', {widget: widget}) }}
</div>