<div id="{{ widget.getName }}-{{ widget.getHash }}" class="line">
    <div class="layout_row">
        {% set width = 100/widget.getCol %}
        {% for column in range(0, widget.getCol - 1) %}
            {% set hashes = widget.getItemHashesAtColumn(column) %}
            <div style="float:left;width:{{ width }}%" class="aColumn ui-sortable ui-droppable">
                {% for hash in hashes %}
                    {{ render_esi(controller("SkipsoBuilderBundle:Default:renderWidget", {widgetHash: hash, view: 'view'})) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{{ include('SkipsoBuilderBundle:Base:_styles.html.twig', {widget: widget}) }}