<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="formcarousel-{{ hash }}">
        <li role="presentation" class="active"><a href="#general-{{ hash }}" aria-controls="general-{{ hash }}"
                                                  role="tab" data-toggle="tab" class="tab" onclick="showTab(this)">General</a>
        </li>
        <li role="presentation"><a href="#images-{{ hash }}" aria-controls="images-{{ hash }}" role="tab"
                                   data-toggle="tab" class="tab" onclick="showTab(this)">Images</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general-{{ hash }}">
            <form id="dropZone{{ hash }}" method="post" action="{{ path('builder_setting_widget', {'hash': hash}) }}">
                {{ form_rest(form) }}
                <input type="submit"/>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="images-{{ hash }}">
            <form id="dropzone-{{ time }}" action="{{ path('builder_carousel_upload', {hash: hash}) }}" class="dropzone"
                  enctype="multipart/form-data" method="POST">

            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for media in widget.getMedias %}
                    <tr id="image-{{ media.getHash }}">
                        <td><img src="{{ media.getWebPath | imagine_filter('images_list') }}" /></td>
                        <td><button class="btn" onclick="deleteMedia('{{ media.getHash }}')">Delete</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dropZone{{ time }} = new Dropzone('form#dropzone-{{ time }}', {url: '{{ path('builder_carousel_upload', {hash: hash}) }}'});
        var preview{{ time }} = null;
        dropZone{{ time }}.on('success', function(file, data){
            $('#images-{{ hash }} tbody').append('<tr id="image-'+data.imageHash+'"><td><img src="'+data.src+'" /></td><td><button class="btn" onclick="deleteMedia(\''+data.imageHash+'\')">Delete</button></td></tr>')
        })

    </script>
</div>