<div id="{{ widget.getName }}-{{ widget.getHash }}" class="widget">
    {{ include('SkipsoBuilderBundle:Base:widgetButtons.html.twig', {widget: widget}) }}
    {{ include('SkipsoBuilderBundle:CarouselWidget:template/'~widget.getType~'.html.twig', {widget: widget, time: time}) }}
    {{ include('SkipsoBuilderBundle:Base:_styles.html.twig', {widget: widget}) }}
</div>
