<div id="{{ widget.getName }}-{{ widget.getHash }}" class="widget">
    {{ include('SkipsoBuilderBundle:CarouselWidget:template/'~widget.getType~'.html.twig', {widget: widget}) }}
</div>
{{ include('SkipsoBuilderBundle:Base:_styles.html.twig', {widget: widget}) }}